In [1]:
# pip install PublicDataReader --upgrade

Collecting PublicDataReader
  Downloading PublicDataReader-1.0.26-py3-none-any.whl (3.2 MB)
     ---------------------------------------- 3.2/3.2 MB 29.1 MB/s eta 0:00:00
Requirement already satisfied: pandas in c:\users\ljs74\anaconda3\envs\jupyter\lib\site-packages (from PublicDataReader) (1.3.5)
Requirement already satisfied: beautifulsoup4 in c:\users\ljs74\anaconda3\envs\jupyter\lib\site-packages (from PublicDataReader) (4.12.2)
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Requirement already satisfied: requests in c:\users\ljs74\anaconda3\envs\jupyter\lib\site-packages (from PublicDataReader) (2.31.0)
Requirement already satisfied: numpy in c:\users\ljs74\anaconda3\envs\jupyter\lib\site-packages (from PublicDataReader) (1.21.5)
Collecting lxml
  Downloading lxml-5.1.0-cp37-cp37m-win_amd64.whl (3.9 MB)
     ---------------------------------------- 3.9/3.9 MB 35.4 MB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in c:\users\ljs74\anaconda3\envs\jupyter\lib\site-packages (from beautifulsoup4->PublicDataReader) (2.4.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\ljs74\anaconda3\envs\jupyter\lib\site-packages (from pandas->PublicDataReader) (2022.7)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ljs74\anaconda3\envs\jupyter\lib\site-packages (from pandas->PublicDataReader) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ljs74\anaconda3\envs\jupyter\lib\site-packages (from requests->PublicDataReader) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ljs74\anaconda3\envs\jupyter\lib\site-packages (from requests->PublicDataReader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ljs74\anaconda3\envs\jupyter\lib\site-packages (from requests->PublicDataReader) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ljs74\anaconda3\envs\jupyter\lib\site-packages (from requests->PublicDataReader) (3.6)
Requirement already satisfied: six>=1.5 in c:\users\ljs74\anaconda3\envs\jupyter\lib\site-packages (from python-dateutil>=2.7.3->pandas->PublicDataReader) (1.16.0)
Installing collected packages: xmltodict, lxml, PublicDataReader
Successfully installed PublicDataReader-1.0.26 lxml-5.1.0 xmltodict-0.13.0
Note: you may need to restart the kernel to use updated packages.

# PIR

In [26]:
from PublicDataReader import Kbland
api = Kbland()
params = {
    "메뉴코드": "01",
    "기간":"",
}
df = api.get_pir(**params)

In [32]:
df = df[['지역코드','지역명','주택분위','소득분위','날짜','PIR']]

In [33]:
df

            지역코드    지역명  주택분위  소득분위         날짜        PIR
0     0000000000     전국     5     5 2008-12-01   7.037341
1     1100000000  서울특별시     5     5 2008-12-01  11.537793
2     0000000000     전국     4     5 2008-12-01   3.705283
3     1100000000  서울특별시     4     5 2008-12-01   6.912031
4     0000000000     전국     3     5 2008-12-01   2.366151
...          ...    ...   ...   ...        ...        ...
8895  1100000000  서울특별시     3     1 2023-09-01  26.740611
8896  0000000000     전국     2     1 2023-09-01   7.706675
8897  1100000000  서울특별시     2     1 2023-09-01  15.840010
8898  0000000000     전국     1     1 2023-09-01   3.827658
8899  1100000000  서울특별시     1     1 2023-09-01   8.111163

[8900 rows x 6 columns]

# 주택구매력지수

In [34]:
api = Kbland()
params = {
    "기간": "1"
}
df = api.get_hai(**params)

In [37]:
df

,지역코드,지역명,날짜,종합,아파트,단독,연립
0,0000000000,전국,2022-09-01,82.706510,78.044688,107.433819,183.766866
1,0000000000,전국,2022-10-01,81.522580,79.192849,105.340494,180.215739
2,0000000000,전국,2022-11-01,113.963795,92.859388,129.682939,227.927590
3,0000000000,전국,2022-12-01,116.800547,95.297518,130.897165,230.061684
4,0000000000,전국,2023-01-01,123.796573,102.452336,136.603115,240.090324
...,...,...,...,...,...,...,...
99,4A0000,기타지방,2023-05-01,231.731594,210.522262,250.925524,552.036154
100,4A0000,기타지방,2023-06-01,230.305467,209.617010,249.846537,549.662382
101,4A0000,기타지방,2023-07-01,239.796957,218.368293,259.174488,570.183874
102,4A0000,기타지방,2023-08-01,239.179149,217.805693,258.506756,568.714864
103,4A0000,기타지방,2023-09-01,238.358968,217.058805,257.620299,566.764657

# 가격지수1

In [51]:
api = Kbland()
params = {
    "월간주간구분코드": "01",
    "매물종별구분": "01",
    "매매전세코드": "01",
    "지역코드": "",
    "기간": "",
}
df = api.get_price_index(**params)

In [52]:
df

      월간주간구분 매물종별구분 거래구분        지역코드 지역명         날짜        가격지수
0         월간    아파트   매매  0000000000  전국 1986-01-01   15.910037
1         월간    아파트   매매  0000000000  전국 1986-02-01   15.910037
2         월간    아파트   매매  0000000000  전국 1986-03-01   15.880737
3         월간    아파트   매매  0000000000  전국 1986-04-01   15.792836
4         월간    아파트   매매  0000000000  전국 1986-05-01   15.675635
...      ...    ...  ...         ...  ..        ...         ...
10939     월간    아파트   매매  5100000000  강원 2023-08-01  101.957246
10940     월간    아파트   매매  5100000000  강원 2023-09-01  102.189447
10941     월간    아파트   매매  5100000000  강원 2023-10-01  102.332312
10942     월간    아파트   매매  5100000000  강원 2023-11-01  102.491324
10943     월간    아파트   매매  5100000000  강원 2023-12-01  102.596473

[10944 rows x 7 columns]

In [22]:
import PublicDataReader as pdr 
code = pdr.code_bdong()

출처: 행정기관(행정동) 및 관할구역(법정동) 변경내역(2023.10.30. 시행)

In [23]:
list(code['시도코드'].unique())

['11',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '36',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51']